* {
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
    flex-direction: row;
}

.col-3 {
    padding: 10px;
    height: 100%;
    border-radius: 5px;
}

.col-3.right {
    flex: 1;
    background-color: blueviolet;
    height: 100%;
    width: 25%;
    
}

.col-3.middle {
    flex: 2;
    background-color: aquamarine;
}

.col-3.left {
    flex: 1;
    background-color: burlywood;
    width: 15%;
}
